.btn-big {
    width:100px !important;
}
.btn-color-red {
    border: 1px solid #f00 !important;
    color: #f00 !important;
}
.ui-focus {
    border-color: #38c !important;
    box-shadow: none !important;
}
.ui-shadow-inset{
    box-shadow: none;
}

.time-box{
    display: box;
    display: -webkit-box;
    margin: 5px auto;
    width: 100%;
}

.time-box > *{
    box-flex: 1;
    -webkit-box-flex: 1;
}

.time-box > *:first-child{
    box-flex: 3;
    -webkit-box-flex: 3;
}

#come_time_hour-button{
    box-sizing: border-box;
}

/*.ui-input-text{
    margin: 0;
    border-width: 0;
}*/
