.btn-big {
    width:100px !important;
}
.btn-color-red {
    border: 1px solid #f00 !important;
    color: #f00 !important;
}
.ui-focus {
    border-color: #38c !important;
    box-shadow: 0 !important;
}
