
.form {
  width:350px;
  padding:0px 15px;
  margin: 0px auto;
}
.form-reservation {
}
.form-div {
  margin:5px auto;
}
.form-div label {
  display:inline-block;
  width:30%;
  text-align:right;
}
.form-div input, select {
  display:inline-block;
  border:2px solid #4c556e;
  border-radius:5px;
  margin-left:5px;
  width:65%;
}
