body {
  font-size:20px;
  background: #eee;
}

/* layout */
.container {
  margin:5px auto;
  width: 90%;
}
.fix-top-right {
  position: fixed;
  right: 5px;
  top: 2px;
}

/* ui */
.form {
  padding: 5px 15px;
  margin: 0px auto;
}
.form-sub-title {
  color: #666;
  padding: 5px;
  margin-bottom: 5px;
}
.form-sub-content {
  background: #fff;
  padding: 10px;
  min-height: 30px;
}
.form-div {
  margin:5px auto;
  background: #fff;
}
.form-div label {
  display:inline-block;
  width:30%;
  text-align: center;
  background: #fff;
  padding-top:2px;
  padding-bottom:2px;
}
.form-div input, select {
  display:inline-block;
  border:0px;
  margin-left:5px;
  padding-top:2px;
  padding-bottom:2px;
  width:65%;
  background: #fff;
}
.form-input-half {
  width:30% !important;
}
.btn {
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  padding:2px 5px;
  min-width: 20px;
  min-height: 10px;
  background: #fff;
}
.btn-full {
  width: 100%;
  height:100px;
  font-size: 40px;
  margin-top: 10px;
}
.btn-red {
  background: #BF0A10;
  color: #fff;
}
.zuowei-list {
  border: 2px solid #777;
  padding:15px;
  overflow: hidden;
}
.zuowei-list li {
  border: 5px solid #228B22;
  border-radius: 5px;
  background: #BF0A10;
  list-style: none;
  width:30%;
  height:100px;
  text-align:center;
  line-height: 100px;
  margin: 5px;
  float: left;
}
.zuowei-list li a {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}
