<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <title>柳氏家|后台</title>
</head>

<body>
<form action="/modify_food" method="get">
  <input type=text style="display:none" name="modify_status" value="add_food"/>
  <p>菜品图片URL <input type="text" name="img_url" /></p>
  <p>菜品名称<input type="text" name="food_name" /></p>
  <p>菜品价格<input type="text" name="price" /></p>
  <input type="submit" value="确认提交" />
</form>
</body>

</html>


