<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <title>柳氏家|后台</title>
</head>

<body>
  <form name="input" action="/admin" method="post">
     <p>   添加菜品
        <input type="radio" name ="modify_type" value="add">
     </p>
     <p>
        修改菜品
        <input type="radio" name ="modify_type" value="modify">
     </p>
     <p>
        删除菜品
        <input type="radio" name ="modify_type" value="del">
     </p>
        <input type="submit" value="确定">
  </form>
<p><a href="http://yoogane.sunzhongwei.com/review_seat">审核订座</a></p>
<br/>
<p><a href="http://yoogane.sunzhongwei.com/logout">退出登录</p>
</body>

</html>


