<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <title>柳氏家|后台</title>
</head>

<body>
  <form name="input" action="/admin" method="post">
        添加菜品
        <input type="radio" name ="modify_type" value="add_food">
        修改菜品
        <input type="radio" name ="modify_type" value="modify_food">
        删除菜品
        <input type="radio" name ="modify_type" value="del_food">
        <input type="submit" value="确定">
  </form>
</body>

</html>


