<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <title>柳氏家</title>
</head>

<body>
  <div class="container">
  <ul class="list-meun">
    <li><b>{</b><a class="shua-link" href="/order">订餐</a><b>}</b></li>
    <li><b>{</b><a href="/reservation">订座</a><b>}</b></li>
    <li><b>{</b><a href="/takeout">外卖</a><b>}</b></li>
    <li><b>{</b><a href="/vip">会员</a><b>}</b></li>
    <li><b>{</b><a href="/about">关于</a><b>}</b></li>
  </ul>
  </div>
  <script src="/static/index.js"></script>
</body>

</html>


