<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <title>柳氏家|后台</title>
</head>

<body>
{% if status == "modify" %}
<form action="/modify_food" method="post">
  <input type=text style="display:none" name="modify_status" value="modify"/>
  {% for i in show_food %}
    <p>
    <input type="text" name="food_name" value="{{i[1]}}">
    <input type="text" name="img_url" value="{{i[0]}}">
    <input type="text" name="price" value="{{i[2]}}">
    <input type="submit" value="确认提交" />
    </p>
  {% endfor %}
</form>
{% endif %}
{% if status == "del" %}
<form action="/modify_food" method="post">
  <input type="text" style="display:none" name="modify_status" value="del"/>
  {% for i in show_food %}
    <p>
    {{i[1]}}||{{i[2]}}||{{i[0]}}
    <input type="radio" name="choice_food" value="{{i[1]}}">
    </p>
  {% endfor %}
  <input type="submit" value="确认提交" />
</form>
{% endif %}
{% if status == "add" %}
<form action="/modify_food" method="post">
  <input type="text" style="display:none" name="modify_status" value="add"/>
  <p>菜名<input type="text" name="food_name"></p>
  <p>图片url<input type="text" name="img_url"></p>
  <p>价格<input type="text" name="price"></p>
  <input type="submit" value="确认提交" />
</form>
{% endif %}
</body>

</html>



