<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>柳氏家|订餐</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/static/css/order.css">
  <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/static/jquery_mobile/jquery.mobile-1.4.5.min.js"></script>
  <script type="text/javascript">
    open_id = '{% print open_id %}'
  </script>
</head>

<body>
   <ul class="food-list">
   </ul>
    <button type="button" id="submit_btn">选好了</button>
    <script type="text/javascript" src="/static/js/order.js"></script>
</body>

</html>


