<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>柳氏家|订餐</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/static/jquery_mobile/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/static/jquery_mobile/jquery.mobile-1.4.5.min.js"></script>
  <style type="text/css">
  .food-list {
  }
  .food-list li {
    list-style:none;
    overflow: hidden;
  }
  .food-list div {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .food-list a {
    float: right;
    color: #777;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
  }
  .list-img {
    width: 25%;
  }
  .list-foodname {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    color: #777;
  }
  .list-btn {
    float: right !important;
  }
  </style>
</head>

<body>
   <ul class="food-list">
     <li>
       <div class="list-img">
         <img src="/static/food_img/food_1.jpg">
       </div>
       <div class="list-foodname"><strong>food one</strong></div>
       <div class="list-btn">
         <a href="javascript:;">-</a>
         <a href="javascript:;">2</a>
         <a href="javascript:;">+</a>
       </div>
     </li>
   </ul>
<!--
    <ul data-role="listview" data-inset="true">
        <li>
            <a href="#">
                <img src="/static/food_img/food_1.jpg">
                <h3>Food One</h3>
                <p>Food One is very nice</p>
                <span class="ui-li-count">25</span>
            </a>
             <a href="#" data-rel="dialog" data-transition="pop">sub</a>
        </li>
        <li>
            <a href="#">
                <img src="/static/food_img/food_1.jpg">
                <h3>Food One</h3>
                <p>Food One is very nice</p>
                <span class="ui-li-count">25</span>
            </a>
            <a href="#" data-rel="dialog" data-transition="pop">sub</a>
        </li>
        <li>
            <a href="#">
                <img src="/static/food_img/food_1.jpg">
                <h3>Food One</h3>
                <p>Food One is very nice</p>
                <span class="ui-li-count">25</span>
            </a>
            <a href="#" data-rel="dialog" data-transition="pop">sub</a>
        </li>
        <li>
            <a href="#">
                <img src="/static/food_img/food_1.jpg">
                <h3>Food One</h3>
                <p>Food One is very nice</p>
                <span class="ui-li-count">25</span>
            </a>
            <a href="#" data-rel="dialog" data-transition="pop">sub</a>
        </li>
        <li>
            <a href="#">
                <img src="/static/food_img/food_1.jpg">
                <h3>Food One</h3>
                <p>Food One is very nice</p>
                <span class="ui-li-count">25</span>
            </a>
            <a href="#" data-rel="dialog" data-transition="pop">sub</a>
        </li>
        <li>
            <a href="#">
                <img src="/static/food_img/food_1.jpg">
                <h3>Food One</h3>
                <p>Food One is very nice</p>
                <span class="ui-li-count">25</span>
            </a>
            <a href="#" data-rel="dialog" data-transition="pop">sub</a>
        </li>
    </ul>
-->
    <button type="button" id="submit_btn">选好了</button>
    <script type="text/javascript" src="/static/js/order.js"></script>
</body>

</html>


