<html>
    <head>
        <title>订座</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/static/ratchet/css/ratchet.min.css">
        <!--<link rel="stylesheet" type="text/css" href="/static/ratchet/css/ratchet-theme-android.min.css">-->
        <!--<link rel="stylesheet" type="text/css" href="/static/ratchet/css/ratchet-theme-ios.min.css">-->
        <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/ratchet/js/ratchet.min.js"></script>
    </head>
    <body>
        <header class="bar bar-nav" style="height: 70px;">
            <button class="btn pull-left" id="date_button_1" style="width: 20%;height: 50px;">今天</button>
            <button class="btn pull-left" id="date_button_2" style="width: 20%;height: 50px;">明天</button>
            <button class="btn pull-left" id="date_button_3" style="width: 20%;height: 50px;">后天</button>
            <a href="#explain"><button class="btn pull-right" style="width: 90px;height: 50px;">说明</button></a>
            <div id="explain" class="modal">
                <header class="bar bar-nav">
                    <a class="icon icon-close pull-right" href="#explain"></a>
                    <h1 class="title">说明</h1>
                </header>
                <div class="content">
                    <p class="content-padded">预定说明</p>
                </div>
            </div>
        </header>
        <div style=" margin-top: 75px;">
            <form action="/reservation" method="post" >
                <input style="display:none" type="text" name="open_id" value="{{open_id}}"/>
                <input style="display:none" type="text" name="date" id="date"/>
                <input style="display:none" type="text" name="time" id="time_hour"/>
                <input style="display:none" type="text" name="time" id="time_minute"/>
                <div style="margin: 5px auto;width: 240px;">
                    <button type="button" class="btn btn-negative btn-outlined" id="hour_button" style="width: 100px;height: 50px;font-size: 20px;">时</button>
                    <button type="button" class="btn btn-link" style="font-size: 35px;font-weight: lighter;color: #f00;">:</button>
                    <button type="button" class="btn btn-negative btn-outlined" id="minute_button" style="width: 100px;height: 50px;font-size: 20px;">分</button>
                </div>
                {%if phone and user_name%}
                <input type="text" name="user_name" placeholder="姓名" value="{{user_name}}">
                {%else%}
                <input type="text" name="user_name" placeholder="姓名">
                {%endif%}
                {%if phone and user_name%}
                <input type="text" name="phone_number" placeholder="手机号" value="{{phone}}">
                {%else%}
                <input type="text" name="phone_number" placeholder="手机号">
                {%endif%}
                <input type="text" name="come_people" placeholder="到店人数"/>
                <input style="display:none" type="text" name="user_status" value="{{user_status}}"/> 
                <input type="text" name="room_type" placeholder="房间类型"/>
                <input type="text" name="other" placeholder="备注(可不填)"/>
                <!--<textarea rows="5" name="other"></textarea>-->
                <button class="btn btn-negative btn-block" type="submit">确认提交</button>
            </form>
        </div>
        <script type="text/javascript">
            <!--选择日期-->
            var dateTime = new Date();
            $("#date_button_1").click(function(){
                var dateVal = dateTime.getFullYear() + "-" + (dateTime.getMonth()+1) + "-" + dateTime.getDate();
                $("#date").val(dateVal);
            });
            $("#date_button_2").click(function(){
                var dateVal = dateTime.getFullYear() + "-" + (dateTime.getMonth()+1) + "-" + (dateTime.getDate()+1);
                $("#date").val(dateVal);
            });
            $("#date_button_3").click(function(){
                var dateVal = dateTime.getFullYear() + "-" + (dateTime.getMonth()+1) + "-" + (dateTime.getDate()+2);
                $("#date").val(dateVal);
            });
            <!--选择时间-->
            $("#hour_button").click(function() {
                alert ("hour");
            });
            $("#minute_button").click(function(){
                alert ("minute");
            });
        </script>
    </body>
</html>
