<html>
    <head>
        <title>订座</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/static/ratchet/css/ratchet.min.css">
        <!--<link rel="stylesheet" type="text/css" href="/static/ratchet/css/ratchet-theme-android.min.css">-->
        <!--<link rel="stylesheet" type="text/css" href="/static/ratchet/css/ratchet-theme-ios.min.css">-->
        <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/ratchet/js/ratchet.min.js"></script>
    </head>
    <body>
        <header class="bar bar-nav">
            <h1 class="title">订座</h1>
        </header>
        <div style="margin-top: 50px;">
            <h3>预定说明</h3>
            <p class="well">
                预定成功后，我们会以微信或电话通知您
            </p>
        </div>
        <form action="/reservation" method="post" >
            <input style="display:none" type="text" name="open_id" value="{{open_id}}"/>
            <h3>联系人信息</h3>
            <div class="input-row">
                <label>联系人</label>
                {%if phone and user_name%}
                <input type="text" name="user_name" placeholder="联系人（您的姓名或昵称）" value="{{user_name}}">
                {%else%}
                <input type="text" name="user_name" placeholder="联系人（您的姓名或昵称）">
                {%endif%}
            </div>
            <div class="input-row">
                <label>手机</label>
                {%if phone and user_name%}
                <input type="text" name="phone_number" placeholder="您的手机号" value="{{phone}}">
                {%else%}
                <input type="text" name="phone_number" placeholder="您的手机号">
                {%endif%}
            </div>
            <h3>预定信息</h3>
            <div class="input-row">
                <label>到店日期</label>
                <input type="text" name="come_datetime"/>
            </div>
            <div class="input-row">
                <label>到店时间</label>
                <input type="text" name="come_datetime" id="time_hours"/>
            </div>
            <div class="input-row">
                <label>到店人数</label>
                <select name="come_people">
                    <option value="1">一个人的宁静</option>
                    <option value="2">两个人的浪漫</option>
                    <option value="3">三个人的闲聊</option>
                    <option value="4">四个人的聚会</option>
                    <option value="5">五个人的死党</option>
                    <option value="0">公司订餐的干活？</option>
                </select>
                <input text="text" name="come_people" style="display:none;" placeholder="自己填个数吧">
            </div>
            <div class="input-row">
                <label>房间类型</label>
                <select name="come_people">
                    <option value="1">小房</option>
                    <option value="2">大房</option>
                    <option value="3">中房</option>
                    <option value="4">散台</option>
                </select>
            </div>
            <div class="input-row">
                <label>备注</label>
            </div>
            <textarea rows="5" name="other"></textarea>
            <button class="btn btn-positive btn-block" type="submit">确认提交</button>
        </form>
    </body>
</html>
