<html>
    <head>
        <title>订座</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/static/jquery_mobile/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <!--<link rel="stylesheet" type="text/css" href="/static/ratchet/css/ratchet.min.css">-->
        <!--<link rel="stylesheet" type="text/css" href="/static/ratchet/css/ratchet-theme-android.min.css">-->
        <!--<link rel="stylesheet" type="text/css" href="/static/ratchet/css/ratchet-theme-ios.min.css">-->
        <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/jquery_mobile/jquery.mobile-1.4.5.min.js"></script>
        <!--<script type="text/javascript" src="/static/ratchet/js/ratchet.min.js"></script>-->
        <script type="text/javascript">
            var postData = {};

            // open_id
            {% if open_id %}
                postData['open_id'] = {{open_id}};
            {% else %}
                postData['open_id'] = null;
            {% endif %}

            // user_status
            {% if user_status %}
                postData['user_status'] = {{user_status}};
            {% else %}
                postData['user_status'] = null;
            {% endif %}

            // user_name
            {% if user_name %}
                postData['user_name'] = {{user_name}};
            {% else %}
                postData['user_name'] = null;
            {% endif %}

            // phone
            {% if phone %}
                postData['phone'] = {{phone}};
            {% else %}
                postData['phone'] = null;
            {% endif %}

            // come_date
            postData['come_date']   = null;

            // come_time
            postData['come_time']   = null;

            // come_people
            postData['come_poeple'] = null;

            // room_type
            postData['room_type']   = null;



        </script>
    </head>
    <body>
    <div data-role="page" id="pageone">
        <div data-role="header">
            <h1>订座</h1>
        </div>
        <div data-role="content">
            <form action="/reservation" method="post" >
                <button type="button" data-inline="true" id="come_data_1">今天</button>
                <button type="button" data-inline="true" id="come_data_2">明天</button>
                <button type="button" data-inline="true" id="come_data_3">后天</button>
                <div style="margin: 5px auto;width: 250px;">
                    <select name="come_hour" data-inline="true" id="come_time_hour">
                        <option value="00">时</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                    </select>
                    <strong data-inline="true">:&nbsp;&nbsp;</strong>
                    <select name="come_minute" data-inline="true" id="come_time_minute">
                        <option value="00">分</option>
                        <option value="00">00</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select>
                </div>
                <input type="text" name="user_name" placeholder="姓名" id="userName">
                <input type="text" name="phone_number" placeholder="手机号" id="phoneNumber">
                <select name="come_people" id="comePeople">
                    <option value="0">到店人数</option>
                    <option value="1">1人</option>
                    <option value="2">2人</option>
                    <option value="3">3人</option>
                    <option value="4">4人</option>
                    <option value="5">5人</option>
                </select>
                <select  name="room_type" id="roomType">
                    <option value="0">房间类型</option>
                    <option value="1">单人</option>
                    <option value="2">双人</option>
                    <option value="3">三人</option>
                    <option value="4">四人</option>
                    <option value="5">五人</option>
                </select>
                <input type="text" name="other" placeholder="备注(可不填)" id="otherContent"/>
                <button type="button" id="submit_btn">确认提交</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/reservation.js"></script>
    </body>
</html>
