<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Index Page</title>
</head>

<body>
  <table>
    <tr>
      <th>手机号</th>
      <th>姓名</th>
      <th>到店日期</th>
      <th>人数</th>
      <th>位置</th>
      <th>其他</th>
    </tr>
{% if  review_list %}
{% for a in review_list %}
    <form action="/review_over" method="get">
    <tr>
      <td><input value="{{a[6]}}"  name="open_id" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{a[0]}}"  name="phone" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{a[1]}}" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{a[2]}}" name="date" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{a[3]}}" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{a[4]}}" readonly="readonly" style="border:0px;" /></td>
      {% if a[5] == "" %}
      <td><input value="None" style="border:0px;" readonly="readonly" /></td>
      {% else %}
      <td><input value="{{a[5]}}" style="border:0px;" readonly="readonly" /></td>
      {% endif %}
      <td><input type="submit" value="审核通过" /></td>

    </tr>
  </form>
{% endfor %}
{% else %}
<p>目前无客户订座</p>
{% endif %}
    </br>
    </br>

  <table>
    <tr>
      <th>手机号</th>
      <th>姓名</th>
      <th>到店日期</th>
      <th>人数</th>
      <th>位置</th>
      <th>其他</th>
    </tr>
{% if allow_list %}
{% for i in allow_list %}
    <form>
    <tr>
      <td><input value="{{i[6]}}"  name="open_id" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{i[0]}}"  name="phone" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{i[1]}}" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{i[2]}}" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{i[3]}}" readonly="readonly" style="border:0px;" /></td>
      <td><input value="{{i[4]}}" readonly="readonly" style="border:0px;" /></td>
      {% if i[5] == "" %}
      <td><input value="None" style="border:0px;" readonly="readonly" /></td>
      {% else %}
      <td><input value="{{i[5]}}" style="border:0px;" readonly="readonly" /></td>
      {% endif %}

    </tr>
  </form>
{% endfor %}
{% else %}
<p>今天还未审核过订座信息</p>
{% endif %}
  </table>
</body>

</html>


